node_modules

/.cache
/public/build
/build
.env
.vscode
.vscode/extensions.json
.cypress/fixtures/example.json
.cypress/e2e/1-getting-started
.cypress/e2e/2-advanced-examples

# Local Netlify folder
.netlify
